header nav{
    animation: float 6s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform: translateX(0px);
    }
    30%{
        transform: translateX(50px);
    }
    60%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}